body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:806px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:395px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:57px;
  width:400px;
  height:395px;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:300px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:520px;
  width:400px;
  height:300px;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:68px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:452px;
  width:400px;
  height:68px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:396px;
  word-wrap:break-word;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:91px;
  width:364px;
  height:48px;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  white-space:nowrap;
}
#u993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
  background:inherit;
  background-color:rgba(44, 41, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:89px;
  width:131px;
  height:22px;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:210px;
  height:19px;
}
#u994p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:6px;
}
#u994p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:6px;
}
#u994p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:20px;
}
#u994p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u994p002 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:0px;
  width:4px;
  height:2px;
}
#u994p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:100px;
  width:200px;
  height:1px;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
