body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:604px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:304px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:21px;
  width:548px;
  height:304px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:60px;
  width:426px;
  height:35px;
  text-align:left;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:422px;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:69px;
  width:31px;
  height:17px;
  text-align:center;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:94px;
  width:426px;
  height:160px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:142px;
  width:365px;
  height:17px;
  text-align:center;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:191px;
  width:76px;
  height:34px;
  color:#FFFFFF;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:72px;
  word-wrap:break-word;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:191px;
  width:76px;
  height:34px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:72px;
  word-wrap:break-word;
}
