body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:829px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:314px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:17px;
  width:395px;
  height:314px;
  color:#FFFFFF;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:149px;
  width:391px;
  word-wrap:break-word;
}
#u1054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:74px;
  width:300px;
  height:199px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:147px;
  width:131px;
  height:16px;
  text-align:center;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:2px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:173px;
  width:242px;
  height:1px;
}
#u1056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:203px;
  width:115px;
  height:34px;
  color:#FFFFFF;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:89px;
  width:105px;
  height:16px;
  text-align:center;
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u1059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:212px;
  width:346px;
  height:66px;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  white-space:nowrap;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:210px;
  height:19px;
}
#u1060p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:6px;
}
#u1060p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:6px;
}
#u1060p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:20px;
}
#u1060p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u1060p002 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:0px;
  width:4px;
  height:2px;
}
#u1060p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:220px;
  width:200px;
  height:1px;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
